{% extends 'base.html' %}
{%  load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'about.css' %}">

<section class="main_container">
    <div class="container">
        <h1 class="tex1">Our Food Fillage</h1>
        <img class="img1" src="{% static 'img1.jpg' %}" alt="">
         
        <p>
            CEO Of: Parvez Ahmed
        <br>
        cotact: <br>
        phone: 01759454963 <br>
        email: parvezahmed9432@gmail.com <br>

        </p>
        
    </div>
</section>
<div class="img1"></div>

 

{% endblock %}